    html {
    background-color: black;
    color: white;
}

#back {
    transform: rotate(7deg);
    background: url(../images/11.jpg) no-repeat center center;
}

.d1 {
    background: url(../images/1.png) no-repeat center center;
}

.d2 {
    background: url(../images/2.png) no-repeat center center;
}

.d3 {
    background: url(../images/3.png) no-repeat center center;
}

.d4 {
    background: url(../images/4.png) no-repeat center center;
}