/*
 * 
 * photoSlider.v1.1
 * create by Gavin,zhensg
 * 2018-1-17
 * http://www.j--d.com/photoSlider/
 * 
 * */
html,
body,
div,
ul,
li,
a,
img {
	margin: 0;
	padding: 0;
	list-style: none;
}

#photo {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #111;
	position: relative;
}
#photo .pic-view {
	height: 100%;
	display: -webkit-box;
	display: box;
	overflow: hidden;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
#photo .pic-view.show{
	opacity: 1;
}
#photo .pic-view li {
	position: absolute;
	height: 100%;
	display: box;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	overflow: hidden;
}
#photo .pic-view li a {
	display: block;
	vertical-align: middle;
}
#photo .pic-view li a img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}
.pagination {
	width: 100%;
	left: 0;
	bottom: 10px;
	position: absolute;
	text-align: center;
	-webkit-transition: 300ms;
	transition: 300ms;
	z-index: 10;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.pagination span {
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 100%;
	background: #fff;
	opacity: .5;
	margin: 0 3px;
}
.pagination span.active {
	opacity: 1;
	background: #007AFF;
}
.pagination-fraction{
	position: absolute;
	width:1rem;
	height:1rem;
	background-color: #fff;
	z-index: 10;
	border-radius: 50%;
	
	color: #000;
	font-size: 0.4rem;
	text-align: center;
	line-height: 1rem;
	top:0.4rem;
	right:0.4rem;
}
.spinner {
	width: 100%;
	height: 100%;
	background: #111;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	display: box;
	display: -webkit-box;
	text-align: center;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	overflow: hidden;
}
.spinner > div {
	width: 15px;
	height: 15px;
	background-color: #007AFF;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
	animation: bouncedelay 1.4s infinite ease-in-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0.0)
	}
	40% {
		-webkit-transform: scale(1.0)
	}
}
@keyframes bouncedelay {
	0%, 80%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	40% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}